input,
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: fit-content;
  background-color: #007cb9;
  color: white;
  padding: 15px 15px 15px 15px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #005689;
  box-shadow: 0px 0px 10px rgb(19, 2, 255);
}

.div {
  width: 35%;
  display: inline-block;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;
  justify-self: center;
  border-radius: 5px;
  background-color: #83cee0;
  background-image: linear-gradient(
    to right top,
    #e12748,
    #e10062,
    #d9007f,
    #c7009e,
    #a618bc,
    #9433cb,
    #7d44d9,
    #5f52e4,
    #6b5ee6,
    #766ae9,
    #8076ea,
    #8b82ec
  );
  padding: 20px;
  box-shadow: 0px 0px 20px red;
}
