.h1 {
  color: #f78536;
  padding-left: 10px;
  font-family: cursive;
}
.navstyle {
  background-color: #497285;
  /* background-image: linear-gradient(
    to right,
    #ec1141,
    #ed005d,
    #e5007b,
    #d4009b,
    #b700b9,
    #9649da,
    #686af2,
    #0082ff,
    #00acff,
    #00cbf9,
    #00e0a3,
    #11ec24
  ); */
  box-shadow: 0px 0px 10px red;
}

.navLink {
  color: #240747;
}
